body {
	font: Arial;
	/* 
	font: 18px/27px 'YanoneKaffeesatzRegular', Arial, sans-serif;
	font-family:"Myriad Pro",georgia, helvetica, arial, sans serif; 
	*/
	font-size:larger; 
	background:black; color:white; margin-left:300px; width:500px; padding:20px
}
a {color:yellow; background:black;}
a:hover {color:black; background:yellow;}
em {color:#f88;}
code {color:#3ad; font-size:12px; font-family:monaco;}
table {border-collapse:collapse; border:2px solid white;}
td, th {border:1px solid white; padding:2px 4px;}
#TOC {position:fixed; left:0px; width:290px; top:0; bottom:0; overflow:auto; background:black;}
